.itemList-container{
    display: flex;
    flex-wrap: wrap;
}

.progres-container
{
    display: flex;
    width: 74vw;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.link-product{
    text-decoration: none;
}