.detail-container{
    display: flex;
    justify-content: space-between;
}

.images-container{
    width: 12.2em;
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.images-container .images-list{
    width: 10.5em;
    margin: 10px 5px;
    cursor: pointer;
}

.images-container .image-item{
    width: 100%;
    height: 100%;
}

.bigImage-container{
    max-width: 780px;
    min-width: 580px;
}

.bigImage-container .bigImage-item{
    width: 100%;
    height: 100%;
}

.productDetails-container{
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "title title title"
                         "size size size"
                         "size size size"
                         "quantity quantity quantity"
                         "price btn btn";
}

.productDetails-container h2{
    grid-area: title;
}

.productDetails-container p{
    grid-area: price;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}