.detail-container{
    display: flex;
    justify-content: space-between;
}

.images-container{
    width: 12.2em;
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.images-container .images-list{
    width: 10.5em;
    margin: 10px 5px;
    cursor: pointer;
}

.images-container .image-item{
    width: 100%;
    height: 100%;
}

.bigImage-container{
    max-width: 780px;
    min-width: 580px;
}

.bigImage-container .bigImage-item{
    width: 100%;
    height: 100%;
}

.productDetails-container{
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "title title title"
                         "size size size"
                         "size size size"
                         "quantity quantity quantity"
                         "price btn btn";
}

.productDetails-container h2{
    grid-area: title;
}

.productDetails-container p{
    grid-area: price;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.button-container{
    width: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn-buy{
    grid-area: btn;
    height: 3em;
    width: 11em;
}

.modal-container {
    width: 520px;
    height: 220px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "text text"
                         "item item"
                         "btn btn";
}

.modal-container .text-container{
    grid-area: text;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.modal-container .item-container{
    grid-area: item;
}   

.modal-container .item-container .product-quantity,
.modal-container .item-container .product-delete{
    display: none;
}


.modal-container .buttons-container{
    grid-area: btn;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a.link_modal{
    text-decoration: none;
}

@media screen and (max-width: 1220px){
    .detail-container{
        flex-direction: column;
    }

    .images-container{
        flex-direction: row;
        width: 100%;
        height: 100%;
    }

    .bigImage-container{
        max-width: none;
        min-width: none;
    }

    .productDetails-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: "title size size"
                             "title size size"
                             "title size size"
                             "quantity quantity quantity"
                             "price btn btn";
    }
}


@media screen and (max-width: 800px){
    .detail-container{
        flex-direction: column;
    }

    .images-container{
        flex-direction: row;
        width: 100%;
        height: 100%;
    }

    .bigImage-container{
        max-width: none;
        min-width: none;
    }

    .productDetails-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: "title size size"
                             "title size size"
                             "title size size"
                             "quantity quantity quantity"
                             "price btn btn";
    }

    .bigImage-container .bigImage-item{
        width: 80%;
    }

    .modal-container {
        width: 340px;
        height: 250px;
    }
    
    .modal-container .buttons-container{
        grid-area: btn;
        display: inline-block;
    }

    .modal-container .buttons-container .btn-modal{
        width: 45%;
        margin: 5px;
    }
}

@media screen and (max-width: 580px){
    .productDetails-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas: "title title"
                             "size size"
                             "size size"
                             "size size"
                             "quantity quantity"
                             "price price "
                             "btn btn ";
    }


    .bigImage-container .bigImage-item{
        width: 60%;
    }
}

@media screen and (max-width: 440px){
    .productDetails-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas: "title"
                             "size"
                             "size"
                             "size"
                             "quantity"
                             "price"
                             "btn";
    }

    .button-container{
        width: 100%;
    }

    .bigImage-container .bigImage-item{
        width: 40%;
    }
}
