*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

li{
    list-style: none;
}


header.NavBar{
    background: #fff;
    margin-bottom: 2em;
    position: relative;
    background: #2c3067;
    transition: all .3s ease;
}

header.NavBar.fixed{
    position: fixed;
    transition: all .3s ease;
}

header.NavBar.fixed .Toolbar{
    position: absolute;
    top: 0;
    right: 0;
    background: #2c3067;
    height: 60px;
    width: 60vw;
    justify-content: end;
}

header.NavBar.fixed .Toolbar .img-container{
    display: none;
}

header.NavBar.fixed .Toolbar .search-container{
    width: 20em;
}

header.NavBar.fixed .category-container{
    position: absolute;
    top: 0;
    left: 0;
    background: #2c3067;
    height: 60px;
    width: 40vw;
}

.Toolbar{
    justify-content: space-between;
    height: 5.2em;
    background: #fafafa;
    color: #000; 
}

.img-container{
    width: 150px;
}

.img-container img{
    width: 100%;
    transform: translateY(5px);
}

.search-container{
    width: 30em;
    padding: 0px 5px;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, 
                rgb(0 0 0 / 14%) 0px 1px 1px 0px, 
                rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}

.search-container .search-icon{
    width: 1.5em;
    height: 1.5em;
    font-size: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container #searchForm{
    display: flex;
    width: 100%;
}

.search-container .search-input{
    width: 100%;
    padding-left: 1em;
}

.Toolbar__menu{
    display: flex;
    margin: 0;
}

.Toolbar__menu__item .btn-user .btn-user__icon{
    font-size: 2em;
    color: #000;
}

.NavBar .category-container{
    width: 38%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
}


.navLink-category{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1.5px;
}

.navLink-category:hover{
    color: #fff;
    border-bottom: 2px solid #fff;
}

.active-category{
    color: #fff;
    border-bottom: 2px solid #fff;
}

@media screen and (max-width: 1200px){
    .NavBar .category-container{
        width: 50%;
    }
}

@media screen and (max-width: 800px){
    .NavBar .category-container{
        width: 100%;
    }

    header.NavBar{
        position: fixed;
    }
}


@media screen and (max-width: 480px){    
    .NavBar .category-container{
        padding-left: 0;
        font-size: 13px;
        flex-wrap: wrap;
    }


    .img-container{
        display: none;
    }
    
}