*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

li{
    list-style: none;
}


header.NavBar{
    background: #fff;
    margin-bottom: 2em;
    position: inherit;
    background: #2c3067;
}

.Toolbar{
    justify-content: space-between;
    height: 5.2em;
    background: #fafafa;
    color: #000; 
}

.img-container{
    width: 150px;
}

.img-container img{
    width: 100%;
    transform: translateY(5px);
}

.search-container{
    width: 30em;
    padding: 0px 5px;
    display: flex;
    align-items: center;
}

.search-container:focus-within{
    border-bottom: .2px solid #dadada;
}

.search-container .search-divider{
    width: .1px;
    height: 30px;
}

.search-container .search-icon{
    font-size: 1.8em;
}

.search-container .search-input{
    width: 100%;
}

.Toolbar__menu{
    display: flex;
}

.Toolbar__menu__item .btn-user .btn-user__icon{
    font-size: 2em;
    color: #000;
}

.NavBar .category-container{
    width: 38%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
}


.navLink-category{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1.5px;
}

.navLink-category:hover{
    color:#3f51b5;
    border-bottom: 2px solid #3f51b5;

}

.active-category{
    color:#3f51b5;
    border-bottom: 2px solid #3f51b5;
}