.search-title{
    width: 85%;
    margin: 10px auto;
}

.itemListContainer{
    width: 85%;
    margin:  0 auto;
    display: flex;
}

@media screen and (max-width: 800px){
    .itemListContainer{
        margin-top: 10em;
        flex-direction: column;
    }
}
