.main-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.header-container{
    width: 69%;
    margin: 10px auto;
}

.header-container .title{
    font-weight: bold;
    text-transform: uppercase;
}

.itemCart-container{
    width: 70%;
    height: 100vh;
    margin: 10px auto;
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr .3fr 1fr;
    grid-template-rows: 1fr .4fr .8fr;
    grid-template-areas: "user user products"
                         "user user products"
                         "card card products";
}

.itemCart-container .container-userdata{
    grid-area: user;
}

.itemCart-container .container-creditcard{
    grid-area: card;
}

.itemCart-container .container-products{
    grid-area: products;
}

.container{
    padding: 10px;
    border: 1px solid #ccc;
}

.container:hover{
    box-shadow: 0 6px 20px 0 rgb(0 0 0 / 19%),
                0 8px 17px 0 rgb(0 0 0 / 20%);
    transition: all .2s ease-in-out;
}

.container p{
    font-weight: 500;
    font-size: 20px;
}

.step{
    color: #fff;
    background: #3f51b5;
    border-radius: 50%;
    padding: 5px 12px;
    margin-right: 10px;
}