.controls{
    grid-area: count;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(224 224 224 / 15%);
    border-radius: 5px;
    margin-bottom: 1em;
    font-weight: bold;
}