.controls{
    grid-area: quantity;
    max-height: 2.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(224 224 224 / 15%);
    border-radius: 5px;
    margin-bottom: 1em;
    font-weight: bold;
    transform: translateY(50%);
}

.link_btn-buy{
    width: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn-buy{
    grid-area: btn;
    height: 3em;
    width: 11em;
}